__pycache__/*
data/*
efficientnet/__pycache__/*
hpc_logs/*
weights/*
eval_prob_only/*
eval_prob_only_metrics/*
logit_maps_fused_metrics/*
prob_maps_and_hard_vote/*
prob_maps_and_hard_vote_metrics/*
prob_maps_fused/*
prob_maps_fused_metrics/*
prob_maps_or_hard_vote/*
prob_maps_or_hard_vote_metrics/*
prob_maps_threshold_k_hard_vote/*
prob_maps_threshold_k_hard_vote_metrics/*
result/*
slurm/gpu_files/*
visualization_output/*
wandb/*
